
@model TesteFramework.Models.Countries




<style type="text/css">
    .dropdown1 select {
        border: 0px;
        width: 150px;
        background: none;
    }


    .dropdown1 {
        border: 2px solid #7d6754;
        border-radius: 5px;
        padding: 3px;
        -webkit-appearance: none;
        background-image: url('http://maxgxl.com/max4u/images/selectArrowDown.png');
        background-position: 225px;
        background-repeat: no-repeat;
        text-indent: 0.01px; /*In Firefox*/
        text-overflow: ''; /*In Firefox*/
        width: 150px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#CountryID").change(function () {
            $("#Estado").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")', // we are calling json method
                dataType: 'json',
                data: { id: $("#CountryID").val() },
                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(states, function (i, state) {
                        $("#Estado").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }); // here we are adding option for States
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Estado").change(function () {
            $("#Cidade").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCity")',
                dataType: 'json',
                data: { id: $("#Estado").val() },
                success: function (citys) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(citys, function (i, city) {
                        $("#Cidade").append('<option value="'
      + city.Value + '">'
      + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve cities.' + ex);
                }
            });
            return false;
        })
    });
</script>
<div class="container">

    @{if (ViewBag.mensagem != null)
    {
        <div id="mensagem" class="alert alert-success"><p class="message-success"> @ViewBag.mensagem </p></div>
    }

    }
    <h2>Formulario Cascade Demontration - USA ou Japan</h2>
    @using (Html.BeginForm())
    {
        <div class="editor-label">
            <br />


            <div style="color: Purple;">
                <label> Pais.</label>
            </div>
            <div class="editor-field">
                
                @Html.DropDownListFor(model => model.CountryID, ViewBag.Cidades as IEnumerable<SelectListItem>, "Selecione um Pais.", new { style = "width:250px", @class = "dropdown1" })
            </div>
            <br />
            <div style="color: Purple;">
                @Html.Label("Estado", new { style = "width:250px" })
            </div>
            <div class="editor-field">
                @Html.DropDownList("Estado", new SelectList(string.Empty, "Value", "Text"), "Selecione um estado.", new { style = "width:250px", @class = "dropdown1" })
            </div>
            <br />
            <div style="color: Purple;">
                @Html.Label("Cidade", new { style = "width:250px" })
            </div>
            <div class="editor-field">
                @Html.DropDownList("Cidade", new SelectList(string.Empty, "Value", "Text"), "Selecione uma cidade", new { style = "width:250px", @class = "dropdown1" })
            </div>
            <br />
            <input id="Submit1" type="submit" value="Enviar Dados" />
        </div>

    }
</div>